<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a href="" class="brand">
                <img src="{{config.site_logo}}" alt="">
            </a>
            <form action="/" id="search-form" class="navbar-search">
                <input type="text" class="search-query sapn3">
            </form>
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <a  href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a  href="/signup">注册</a>
                </li>
                <li class="nav-item">
                    <a  href="/signin">登陆</a>
                </li>

                <!-- <li class="nav-item">
                    <a  href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a  href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a  href="/">首页</a> -->
                </li>
            </ul>
        </div>
    </div>
</div>
