

// * {
//     padding: 0;
//     margin: 0;
// }
// 样式重置，在reset中有。

// 去掉a链接的下划线
a {
    text-decoration: none;
}
// 清除输入框选中的时候的蓝色外边框
input {
    outline: none;
}

ul {
    list-style-type: disc;
    padding: 0;
    margin: 0 0 10px 25px;
}
// 左浮动
.fl{
    float: left;
}
// 右浮动
.fr {
    float: right;
}
// 清除浮动
.clear {
    clear: both;
}
// 按钮样式
.btn {
    display: inline-block;
    float: none;
    padding: 3px 10px;
    border: none;
    margin: 0;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: none;
    border-radius: 3px;
    line-height: 2em;
    vertical-align: middle;
    background-color: #e5e5e5;
    // transition: all 0.2s ease-in-out;
}
.btn-primary {
    color: white;
    background-color: #08c;
    &:hover {
        color: #fff;
        background-color: #05c;
        transition: all 0.2s ease-in-out;

    }
}
.btn-info {
    color: white;
    background-color: #5bc0de;
    &:hover{
        color: #fff;
        background-color: #2f96b4;
        transition: all 0.2s ease-in-out;
    }
}

body, input, p, textarea {
    font-size: 14px;
    word-break: break-word;
}

p {
    margin: 0 0 10px;
}
