
.footer{
    clear: both;
    background-color: white;
    .container{
        width: 90%;
        max-width: 1400px;
        min-width: 960px;
        margin: 0px auto;
        // color: #e2e2e2;
        padding: 20px 0px;
        font-size: 13px;
        line-height: 2em;
        color: #ababab;
    }
}
